<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Seighler Abstract Art</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="row">
        <div class="col-6">
            <!-- desktop header -->
            <nav class="navbar navbar-expand-lg navbar-light" style="height: 87px;">
                <a class="navbar-brand" href="#">Seighler Abstract Art</a>
            </nav>
        </div>
        <div class="col-12">
            <!-- mobile header -->
            <nav class="navbar navbar-expand-lg navbar-light" style="height: 80px;">
                <a class="navbar-brand" href="#">Seighler Abstract Art</a>
            </nav>
        </div>
        <div class="col-6" style="height: 88px;">
            <div class="row">
                <!-- add webkit transition to dropdown cards -->
                <button class="col-4" data-toggle="collapse" data-target="#collapseone" style="border-bottom: none; z-index: 1; height: 87px; padding: 30px; outline: none; background-color: #f9f9f9;">
                    <h1>Art</h1>
                    <div id="collapseone" class="collapse">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit ad squid. Ni helvetica, craft b wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </button>
                <button class="col-4" data-toggle="collapse" data-target="#collapsetwo" style="border-bottom: none; z-index: 1; height: 87px; padding: 30px; outline: none; background-color:#f4f4f4;">
                    <h1>About</h1>
                    <div id="collapsetwo" class="collapse">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit ad squid. Ni helvetica, craft b wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </button>
                <button class="col-4" data-toggle="collapse" data-target="#collapsethree" style="border-bottom: none; z-index: 1; height: 87px; padding: 30px; outline: none; background-color: #ededed;">
                    <h1>Checkout</h1>
                    <div id="collapsethree" class="collapse">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit ad squid. Ni helvetica, craft b wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <!-- fix margin right issue -->
        <div class="col-4">
            <div class="leftbox">
            </div>
        </div>
        <div class="col-8">
            <div class="rightbox">
            </div>
        </div>
    </div>

</body>

</html>